.footer-component{
	height: 300px;
	background-color: #333333;
	color: #fff;
    width: 100%;

    .container{
    	padding-top: 50px;

    	.social-links{
    		text-align: center;

            a{
                color: #fff;
            }
    	}
    }
}