.artist-result{
	box-shadow: 0px 5px 5px #888888;

	.artist-info{
		.artist-image{
			width: 100%;
			margin-top: -35px;
		}

		.artist-name{
			font-weight: 500;
			font-style: italic;
			color: #ffffff;
			opacity: 0.75;
			background-color: #000000;
			padding: 5px 15px;
			position: relative;
			top: 5px;
			cursor: pointer;
		}

		.type {
			img{
				width: 40px;
			    height: 40px;
			    left: 180px;
			    position: relative;
			    top: -10px;
			}
		}
	}

	.event-info{
		padding: 10px 10px;
		opacity: 0.75;
  		background-color: #000000;
  		color: #fff;
  		margin-top: -60px;

		.name-date-play {
		    display: flex;
		    justify-content: space-between;

		    .name-and-date {
			    display: flex;
			    flex-direction: column;
			}
		}

		.address{
			font-style: italic;
    		font-size: 12px;
		}
	}

	.similar{
		padding: 10px;
	}
}

@media screen and (max-width: 320px){
	.artist_name_and_icon{
		img{
			left: 130px !important;
		}
	}
}

@media screen and (min-width: 375px) and (max-width: 425px){
	.artist_name_and_icon{
		img{
			left: 176px !important;
		}
	}
}

@media screen and (max-width: 425px){
	.artist_name_and_icon{
		img{
			left: 214px !important;
		}
	}
}
