.results-page{

	.results-header{
		height: 299px;
		opacity: 0.7;
		background-image: linear-gradient(95deg, #3e034f, #a209cf 58%);
		display: flex;
	    flex-direction: column;
	    justify-content: flex-end;

		.glyphicon{
			color: white;
			font-size: 35px;
		}

		.form-inline{
			align-self: center;
    		margin-bottom: 95px;
    		display: flex;
    		flex-direction: column;
    		width: 100%;
		
    		.form-group{
    			width: 265px;
    			align-items: center;
    			display: flex;

    			label{
    				margin-bottom: 0px;
    			}
    			
    			input.form-control{
    				width: 88%;
    				background-color: transparent !important;
    				border: 2px solid #fff !important;
    				color: #fff;
    				border-radius: 0px;
    			}

    			#location, #genre{
					margin-left: 5px;
    			}
    		}
		}

		.nav{
			border-bottom: none;

			.search-active{
				border-bottom: 5px solid #ddd;
			}

			li>a:hover{
				cursor: pointer;
				background-color: transparent;
			}

			a{
				font-family: Lato;
				font-weight: 500;
				font-size: 20px;
				line-height: 1.25;
				color: #e9e1f4;
			}
		}
	}

	.results-body{
		margin: 10px 10%;

		.filters{
			margin-top: 40px;
    		margin-bottom: 20px;

			img{
				width: 50px;
				height: 50px;
				cursor: pointer;
    			
			}
		}
		.results-list{
		    display: flex;
		    flex-flow: row wrap;
		    margin: 20px auto;
		    justify-content: space-between;

		    .result{
		    	width: 30%;
		    	margin-bottom: 55px;
		    }
		}
	}
}

@media screen and (min-width: 768px){
	.results-header{
		padding-left: 150px;
	    padding-right: 150px;
	}

	.form-inline{
		flex-direction: row !important;

		.form-group{
			width: 500px !important;
		}
	}

	.filters{

		img{
			margin-right: 30px;
		}
	}
}

@media screen and (max-width: 425px){
	.results-header{
		height: 200px !important;
		padding: 10px 10px 0px 5px;

		form{
			margin-bottom: 5px !important;

			.form-group{
				width: 100% !important;
				padding-left: 5px;
			}
		}
	}

	.filters{

		img{
			margin-right: 20px;
		}
	}


	.results-list{
		flex-direction: column;

		.result{
			width: 100% !important;
		}
	}
}

@media screen and (max-width: 320px){
	.nav{

		a{
			font-size: 15px !important;
		}
	}
}