<div class="container">
	<h3>New User</h3>

	<form class="fanForm" *ngIf="accountType === 'fan'">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="">
		</div>

		<div class="form-group">
			<label>Country</label> dropdown, that sets city list, when updated
			<input type="" name="">
		</div>

		<div class="form-group">
			<label>City</label>based on country selection above
			<input type="" name="">
		</div>

		<div class="form-group">
			<label>Favourite Genre</label>
			<input type="" name="">
		</div>

		<div class="form-group">
			<label>Favourite Artists/ Bands</label>
			<input type="text" name="">
		</div>
	</form>
</div>