.venue-profile{
	background-color: #D6D6D6;
	padding-top: 10px;
}

.row{
	margin-bottom: 50px;
}

.info_row{
	.venue_info{
		text-align: center;
	}

	.user_actions{
	    top: -75px;
	    width: 200px;
	    display: block;
	    float: right;
	    padding: 0px 10px;

	    .ratings{
	    	padding-bottom: 10px;
	    }
	    
	    .ratings .fa{
	    	color: #AA47BC;
	    }

	    .ratings .fa-heart-o{
	    	padding-left: 0px;
	    }

	    .actions{
	    	.fa{
	    		padding: 0 10px;
	    	}
	    }
	}
}

.item-media{
	margin: 0 auto;
	margin-bottom: 50px;
	max-height: 500px;
}

.carousel-inner{
	top: -35px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	color: #AA47BC;
}

.venue-profile-body{
	.venue_details_container{
		display: flex;
		justify-content: space-between;
	    align-items: center;
	}

	.calendar{
		h3{
			text-align: center;
		    margin-top: 0px;
    	}
	}

	.upcoming{
		padding-top: 20px;
	}

	.latest_gig, .upcoming_gig{
		padding: 20px;
	    max-height: 250px;
	    max-width: 250px;
	}
}

.details_container{
	background-color: #fff;

	h3{
		text-align: center;
	}
}

.artist_performance_history{
	background-color: #fff;	

	.artists{
	    display: flex;
	    justify-content: space-around;
	    margin-bottom: 15px;
	
		.artist{
		    max-height: 100px;
		    max-width: 100px;
		    display: flex;
		    flex-direction: column;

		    img{
	    	    max-width: 100%;
		    }
		}
	}
}